{% extends "base_login_success.html" %}
{% load static %}
{% block content %}
    <table border="1px solid black" cellspacing="0px" width="500px" align="center">
        <tr height="100px" align="center">
            <td >姓名 </td>
            <td >性別 </td>
            <td >電子信箱 </td>
            <td >密碼 </td>
            <td >頭像1</td>
            <td >頭像2</td>
            <td >頭像3</td>
        </tr>
        <tr height="100px" align="center">
            <td >{{ memberlist_get.cName }}</td>
            <td >{{ memberlist_get.cSex }}</td>
            <td >{{ memberlist_get.cEmail }}</td>
            <td >{{ memberlist_get.cPassward }}</td>
            <td ><img src="/{{ memberlist_get.cPhoto1 }}" alt=""></td>
            <td ><img src="/{{ memberlist_get.cPhoto2 }}" alt=""></td>
            <td ><img src="/{{ memberlist_get.cPhoto3 }}" alt=""></td> 
        </tr>
    </table>
{% endblock %}